.assets {
    display:none;
    visibility: none;
}





.flex-container {
    font-size: larger;
    display: inline-flex;
}

.title {
    margin-inline-start: 13em;
    margin-top: 1em;
    color: rgba(39, 234, 29, 0.821);
    font-size: 20px;
    font-family:'Press Start 2P',cursive;
}

.travel {
    color: rgba(39, 234, 29, 0.821);
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 20px;
    font-family:'Press Start 2P',cursive;

}

.pc {
    color: rgba(39, 234, 29, 0.821);
     margin-top: 1em;
     font-size: 20px;
     font-family:'Press Start 2P',cursive;
}



